# ignore list

/brandlogo/
/deltabest/
/dist/
/dist/TinyPedal/
/settings/
/trackmap/
/venv310/

__pycache__/

# pipenv stuff
Pipfile
Pipfile.lock

# pylint stuff
pylintrc

# local config file
*.json
*.csv
*.fuel

# random file
test*.py
*.7z
*.zip
*.log
*.db