# ignore list

/dist/TinyPedal/

__pycache__/

# pipenv stuff
Pipfile
Pipfile.lock

# pylint stuff
pylintrc

# local config file
*.json
*.csv
*.fuel

# random test file
test*.py

# random zip file
*.7z
*.zip