[Desktop Entry]
Exec=env XDG_SESSION_TYPE=x11 {.}/run.py
GenericName=Overlay for rFactor2
Icon={.}/images/icon.png
Name=TinyPedal
Path={.}
StartupNotify=true
Terminal=false
Type=Application
